.schoolname {
    font-family: "Times New Roman", Times, serif;
}
.buddysystem {
    background-color: #32a8a0
}
.sportsday {
    background-color: #ebba34
}
.library {
    background-color: #eb2fb9
}
.extension {
    background-color: #087511
}
.navitembg {
    background-color: #3f4542
}
.contacts {
    background-color: #fafaaa
}
