/* Fix for white space/padding outside the body */
/* https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Setting the background colour across all pages */

.page-background {
    background-color: #e5f8fa;
    background-color: hsl(186, 67%, 94%);
}

/* Setting the font for the website for page titles across all pages */

.title-text {
    font-family: 'Pangolin', cursive;
    font-size: 35px;
    color: #0e5761;
    text-align: center;
    font-weight: bold;
}

/* Setting the font for the website for headings across all pages */

.heading-text {
    font-family: 'Pangolin', cursive;
    font-size: 30px;
    color: #0e5761;
    text-align: left;
}

/* Setting the font for the website for paragraph text across all pages */

.paragraph-text {
/*     font-family: 'Roboto', sans-serif; */
    font-family: 'Raleway', sans-serif;
    overflow-wrap: break-word;
    font-size: 15px;
}

/* Media queries for fonts, mobile first approach therefore these settings are for larger screens */
/* If the screen size is 768px wide or more, settings */
@media only screen and (min-width: 768px) {
  .title-text {
    font-size: 60px;
  }
  .heading-text {
    font-size: 50px;
  }
  .paragraph-text {
    font-size: 18px;
  }
}

/* Setting the height and width of images to 100% for school photos */

.schoolphoto {
   height: 100%;
   width: 100%;
}

/* Setting the background colour for the events and fundraising page text sections */

.buddysystem {
    background-color: #32a8a0
}
.sportsday {
    background-color: #ebba34
}
.library {
    background-color: #eb2fb9
}
.extension {
    background-color: #087511
}
.navitembg {
    background-color: #3f4542
}
.contacts {
    position: relative;
    min-height: 100%
}

/* Settings the border width for the Contacts page border */

.contacts-border { border-width:5px !important; }

/* https://stackoverflow.com/questions/49183870/sticky-footer-bootstrap-4 */
/* Ensuring the footer of the Contacts page always sticks to the bottom of the page */

.bottomfooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.content-wrap {
  padding-bottom: 2rem;   /* Footer height */
}

.border-corner {
    border-radius: 25px;
}

/* Setting the line height for the Contacts page border for better spacing */

.contacts-line {
    line-height: 250%;
}