.title-text {
    font-family: 'Pangolin', cursive;
    font-size: 50px;
}

/* If the screen size is 300px wide or more, set the font-size of <div> to 75px */
@media screen and (min-width: 300px) {
  .title-text {
    font-size: 58px;
  }
}

/* If the screen size is 600px wide or more, set the font-size of <div> to 75px */
@media screen and (min-width: 600px) {
  .title-text {
    font-size: 75px;
  }
}

.content-text {}
    font-family: 'Roboto', sans-serif;
}

.schoolname {
    font-family: "Times New Roman", Times, serif;
}
.buddysystem {
    background-color: #32a8a0
}
.sportsday {
    background-color: #ebba34
}
.library {
    background-color: #eb2fb9
}
.extension {
    background-color: #087511
}
.navitembg {
    background-color: #3f4542
}
.contacts {
    background-color: #fafaaa
}

.page-background {
    background-color: #e6f8fa
}
